body{
	width: 100%;
	
	
	margin: 0 auto;
	text-align: center;
	overflow-x: hidden;
}

#welcome-section {
	background-image: url("nature.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 230px;
	padding-bottom: 230px;
	

}

h1{
	font-size: 60px;
	margin-bottom: 0px;
}

p{
	font-size: 22px;
	margin-top: 0px;

}
.button {
	
	border-radius: 10px;
	background-color: #00cc44;
	border: 1px solid #004d26;
	color: #004d26;
	font-size: 20px;
	text-decoration: none;
	width: 250px;
	padding: 10px 20px;
}

.button:hover{
	background-color: #00994d;
}

#about-section{
	
	
	background-color: #004d00;
	padding: 20px;
	text-align: justify;


}

#detailed-info{
	
	padding: 20px;
	background-color: #d9d9d9;
	text-align: justify;
}

#last-section{
	column-count: 3;
	
	
	
	text-align: justify;
	
	background-color: #f2f2f2;
	
}

.div1, .div3{
	background-color: #004d00; 

}

.div1, .div3, .div2{
	padding: 20px;
	text-align: justify;
	font-size: 25px;
}